body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-align: center;
  color: white;
  background-color: #999;
}

h1 {
  color: red;
}

label {
  font-weight: bold;
  padding-right: 15px;
}

.required {
  padding-left: 7px;
  color: #aaa;
}
